<html>
<body id='iframeBody'>
</body>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'>
</script>
<script>
top.GLOBAL_sendFormData = function() {
  // Must send form from this iFrame, otherwise we'll get a redirect
  // The file input isn't copied with clone, so have to move the actual div
  // http://stackoverflow.com/questions/415483/clone-a-file-input-element-in-javascript
  $('#uploadForm', window.parent.document).clone().appendTo('body');
  var inputFileDiv = $('#uploadFile', window.parent.document);
  $('#uploadFile', window.document).remove();
  inputFileDiv.appendTo($('#uploadForm', window.document));
  //document.body.uploadForm.submit();
  $('#uploadForm').submit();
}
</script>
</html>

