.container
  .hero-unit.hero-box-with-shadow
    .myH1 About
    p  Arter was created by Varun Singh, a student here at Brown who doesn't understand why selling the incredible art produced by student artists at Brown and RISD is so hard. We hope to give student artists the ability to sell their art, by producing posters for them, and connecting them with the rest of the student body.
    p Do you have feedback of any kind about the site (feature request, bug report, etc)? Use the tab on the left.
      br
      | Want to ask me about anything else? Email me at <a href='mailto:hello@transcription-hub.com'> hello@transcription-hub.com </a>
