.container
  .hero-unit.hero-box-with-shadow
    .row
      .saxIconLarge.pull-left
        img(src='/images/saxIconLarge.png')
      .welcomeText.pull-left.tk-museo-slab
        .myH1.inline Welcome
        p.inline.pull-right
          strong#homepageTranscriptionCount
            = trCount
          | &nbspPosters,
          strong#homepageTranscriptionCount
            = userCount
          | &nbspUsers
        p Interested in decorating your room, or selling your art? Arter can help! Arter was created to connect artists at Brown University with other students who want to buy their art. Incredible art is made all over campus every day, and yet students buy the same crappy posters year after year. We're on a mission to fix this.
        p
          - if (typeof(user) !== 'undefined' && user && user.username)
            a.btn.btn-primary.btn-large(href='/browse') Browse Transcriptions Now &raquo;
          - else
            a.btn.btn-primary.btn-large(href='/register') Register Now &raquo;
  .row-fluid.introText
    .span4
      h2 Unique, original posters
      p Every poster sold on Arter is produced by a Brown or RISD student. The posters are reproductions of the art that students produce, for classes or otherwise. Support student artists!
    .span4
      h2 Make a name for yourself
      p Arter lets you market yourself as an artist by giving you a place to establish your presence online. Build up your portfolio online, and let the world know how popular and beautiful your art is.
    .span4
      h2 Unique discovery system
      p Arter tries to surface new, original art, and for this reason you cannot sort posters by popularity or rating. Rating posters is good though, since it lets us give you better poster recommendations.
