#title <h3> OpenSpace</h3>
#login
  a(href='/login') Already have an account? Log in!

#signup
script(type='text/template', id='signup1T')
  #signup1.well
    span.signupHeader
    <h1> Oh hey there
    .signupText
      <h3> | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vehicula diam non turpis egestas vel facilisis leo posuere. Mauris tincidunt, quam at euismod imperdiet, metus orci viverra nunc, a volutpat velit purus lacinia orci. Nam faucibus felis vitae sapien dignissim dignissim. Vivamus vitae metus magna, eget auctor dui. Sed ac arcu et ante feugiat pretium at quis eros. Donec in arcu elit, eget commodo enim.
      </h3>
    form#emailForm(enctype="text")
      input.required.input(name='email', placeholder='Enter Brown or RISD email' , type='text', minlength='5')
      input.btn(type='submit', name='submitEmail', value='Start', id='button')
    #emailErrorLabel
script(type='text/template', id='signup2T')
  #signup2.well
    .row-fluid
      .span6
        span.signupHeader Privacy Policy
        .signupText
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vehicula diam non turpis egestas vel facilisis leo posuere. Mauris tincidunt, quam at euismod imperdiet, metus orci viverra nunc, a volutpat velit purus lacinia orci. Nam faucibus felis vitae sapien dignissim dignissim. Vivamus vitae metus magna, eget auctor dui. Sed ac arcu et ante feugiat pretium at quis eros. Donec in arcu elit, eget commodo enim.
      .span6
        form#nameForm(enctype="text")
          input.required.input(name='name', placeholder='Full Name', type='text')
          #nameErrorLabel.errorLabel
          input.required.input(name='password', placeholder='Password', type='password')
          #passwordErrorLabel.errorLabel
          input.required.input(name='password2', placeholder='Confirm Password', type='password')
          #password2ErrorLabel.errorLabel
          input.required.input(name='username', placeholder='Username', type='text')
          #usernameErrorLabel.errorLabel
          input.btn(type='submit', name='submitName', value='Go')
script(type='text/template', id='signup3T')
  #signup3.well
    .row-fluid
      .span12
        span.signupHeader Thanks!
        #signupText
script(type='text/template', id='signingUp')
  | Signing you up...
script(type='text/template', id='signupSucceeded')
  | Success! You are signed up.
script(type='text/template', id='signupFailed')
  | Signup Failed
  form
    input(id='tryAgainBtn', type='button', value='Try again?')

script
  $(function() {
    function addIframe() {
      $('iframe').remove();
      var subframe = document.createElement('iframe');
      document.body.appendChild(subframe);
      $('iframe').hide();
      subframe.src = "iframe.html";
    };
    addIframe();
    checkForSubmit = function() {
      var timeout = setInterval(function() {
        if ($('iframe').contents().length != 0) {
          // Not received yet
        } else {
          // Got a response!
          clearInterval(timeout);
          addIframe();
        }
      }, 100);
    }
    $( "#submitBtn2" ).click(function(event) {
      event.preventDefault();
      var _file;
      _file = $("#fileId").val().replace(/.+[\\\/]/, "");

      _file = 'adsf';
      $.ajax({
        url: "/gets3credentials/" + _file,
        dataType: "text",
        success: function(res, status) {
          res = JSON.parse(JSON.parse(res)); // TODO: WTF
          $('#s3_AWSAccessKeyId').val(res.s3KeyId);
          $('#s3_signature').val(res.s3Signature);
          $('#s3_policy').val(res.s3PolicyBase64);

          //$('#s3_success_action_redirect').val(res.s3Redirect);
          $('#s3_success_action_status').val(res.s3RedirectStatus);
          //$('#s3_key').val('${filename}');
          $('#s3_key').val(res.s3Key);
          $('#s3_acl').val(res.s3Acl);
          $('#s3_Content-Type').val(res.s3ContentType);
          var formData = $('#uploadForm').serialize();
          //top.GLOBAL_sendFormData(formData);
          top.GLOBAL_sendFormData();
          checkForSubmit();
          //$('#uploadForm').submit();
          //$('#uploadForm').submit(function() {return false;});
        },
        error: function(res, status, error) {//do some error handling here
          console.log('error', res, status, error);
        }
      });
    });
  })
