html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#entire-page {
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  min-width: 940px;
}
.signupHeader {
  font-weight: bold;
}
#title {
  position: relative;
  margin-top: 20px;
  left: 20%;
  right: 80%;
}
#signup > .well {
  margin-top: 5%;
  margin-left: 25%;
  width: 30%;
}
#signup > .well .signupText {
  margin-top: 10px;
}
#signup > .well #emailForm {
  margin-top: 20px;
}
#nameForm > input {
  display: block;
}
input.invalid {
  border-color: red;
}
