html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
}
iframe {
  position: absolute;
  top: 300px;
  left: 100px;
}
#entire-page {
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  min-width: 960px;
}
.signupHeader {
  margin-left: 0px;
}
#title {
  position: relative;
  margin-top: 20px;
  left: 5%;
}
#signup > .well {
  margin-top: 20%;
  width: 62%;
  margin-left: 28%;
}
#signup > .well .signupText {
  margin-top: 10px;
}
#signup > .well #emailForm {
  margin-top: 20px;
}
#signup2 {
  width: 50% !important;
}
input.invalid {
  border-color: #FD4447;
}
#nameForm > input.btn {
  display: block;
}
.errorLabel {
  display: inline;
}
.artworkContainer {
  border: 5px solid black;
  margin-top: 20px;
}
