#signup1.well
  span.signupHeader
  h1 Oh hey there
  .signupText
    h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vehicula diam non turpis egestas vel facilisis leo posuere. Mauris tincidunt, quam at euismod imperdiet, metus orci viverra nunc, a volutpat velit purus lacinia orci. Nam faucibus felis vitae sapien dignissim dignissim. Vivamus vitae metus magna, eget auctor dui. Sed ac arcu et ante feugiat pretium at quis eros. Donec in arcu elit, eget commodo enim.
  form#emailForm(enctype="text")
    input.required.input(name='email', placeholder='Enter Brown or RISD email' , type='text', minlength='5')
    input.btn(type='submit', name='submitEmail', value='Start', id='button')
  #emailErrorLabel
